@page "/Radzenbar"
@using System.Globalization
@using Radzen.Blazor
@using Radzen

<div class="d-flex p-2 justify-content-start flex-wrap">

    <div class="container">
        <div class="row d-flex flex-wrap">
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
                <h4>Custom size bar series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenBarSeries Data="@revenue2020" CategoryProperty="Quarter" Title="2020" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenBarSeries>
                    <RadzenBarSeries Data="@revenue2019" CategoryProperty="Quarter" Title="2019" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenBarSeries>
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                    <RadzenBarOptions Radius="5" Height="20"/>
                </RadzenChart>
            </div>
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
                <h4>Vertical bar series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenColumnSeries Data="@revenue2020" CategoryProperty="Quarter" Title="2020" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnSeries Data="@revenue2019" CategoryProperty="Quarter" Title="2019" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenColumnSeries>
                    <RadzenColumnOptions Radius="5" />
                    <RadzenCategoryAxis Padding="20" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem" >
                    <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                    <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;"/>
                    <RadzenCheckBox @bind-Value="@showDataLabelsarea" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" />
                </RadzenCard>
                <h4>Area series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenAreaSeries Smooth="@smooth" Data="@revenue2019area" CategoryProperty="Date" Title="2019" ValueProperty="Revenue" RenderingOrder="1">
                        <RadzenSeriesDataLabels Visible="@showDataLabelsarea" />
                    </RadzenAreaSeries>
                    <RadzenAreaSeries Smooth="@smooth" Data="@revenue2020area" CategoryProperty="Date" Title="2020" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenSeriesDataLabels Visible="@showDataLabelsarea" />
                    </RadzenAreaSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem" >
                    <RadzenCheckBox @bind-Value="@smoothline" Name="smooth"></RadzenCheckBox>
                    <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;"/>
                    <RadzenCheckBox @bind-Value="@showDataLabelsline" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Show Data Labels" For="dataLabels" />
                </RadzenCard>
                <h4>Line series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenLineSeries Smooth="@smoothline" Data="@revenue2019area" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabelsline" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smoothline" Data="@revenue2020area" CategoryProperty="Date" Title="2020" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabelsline" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem" >
                    <RadzenCheckBox @bind-Value="@trend" Name="trend"></RadzenCheckBox>
                    <RadzenLabel Text="Trend" For="trend" Style="margin-right: 1rem;" Class="rz-color-danger-dark" />
                    <RadzenCheckBox @bind-Value="@median" Name="median"></RadzenCheckBox>
                    <RadzenLabel Text="Median" For="median" Style="margin-right: 1rem;" Class="rz-color-success-dark" />
                    <RadzenCheckBox @bind-Value="@mean" Name="mean"></RadzenCheckBox>
                    <RadzenLabel Text="Mean" For="mean" Style="margin-right: 1rem;" Class="rz-color-info-dark" />
                    <RadzenCheckBox @bind-Value="@mode" Name="mode"></RadzenCheckBox>
                    <RadzenLabel Text="Mode" For="mode" Class="rz-color-warning-darker" />
                </RadzenCard>
                <h4>Trend series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenLineSeries Smooth="true" Data="@revenue2019area" CategoryProperty="Date" Title="2019" ValueProperty="Revenue" RenderingOrder="1">
                        <RadzenSeriesTrendLine Visible="@trend" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
                        <RadzenSeriesMedianLine Visible="@median" Stroke="var(--rz-success-dark)" LineType="LineType.Dotted" />
                        <RadzenSeriesMeanLine Visible="@mean" Stroke="var(--rz-info-dark)" LineType="LineType.Dotted" />
                        <RadzenSeriesModeLine Visible="@mode" Stroke="var(--rz-warning-darker)" LineType="LineType.Dotted" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" >
                    <RadzenCheckBox @bind-Value="@annotation" Name="annotation"></RadzenCheckBox>
                    <RadzenLabel Text="Annotation" For="annotation" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>
                <h4>Annotations line series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenLineSeries Smooth="true" Data="@revenue2019area" CategoryProperty="Date" Title="2019" ValueProperty="Revenue" RenderingOrder="1">
                        <RadzenSeriesAnnotation Visible="@annotation" TItem="DataItem2" Data="@revenue2019area[1]" OffsetY="-16" Text="Negotiation" />
                        <RadzenSeriesAnnotation Visible="@annotation" TItem="DataItem2" Data="@revenue2019area[2]" OffsetY="-16" Text="Acquisition" />
                        <RadzenSeriesAnnotation Visible="@annotation" TItem="DataItem2" Data="@revenue2019area[4]" OffsetY="-16" Text="Merger" />
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        
            <div class="g-col-6 g-col-md-6" style="min-width:500px;max-width:550px">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                    <RadzenLabel Text="Interpolation" For="interpolation" Style="margin-right: 1rem;"/>
                    <RadzenDropDown AllowClear="false" Name="interpolation" @bind-Value="@interpolation"
                                    TValue="Interpolation" ValueProperty="Value" TextProperty="Text"
                                    Data="@(Enum.GetValues<Interpolation>().Select(v => new { Value = v, Text = $"{v:G}" }))"/>
                </RadzenCard>
                <h4>Interpolation line series</h4>
                <RadzenChart style="height: 400px" Class="mb-3">
                    <RadzenLineSeries Interpolation="@interpolation" Data="@revenue2020area" CategoryProperty="Date" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue" />
                    <RadzenAreaSeries Interpolation="@interpolation" Data="@revenue2019area" CategoryProperty="Date" Title="2020" ValueProperty="Revenue" />
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth"/>
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true"/>
                        <RadzenAxisTitle Text="Revenue in USD"/>
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
</div>



@code {
    bool showDataLabels = false;
    bool showDataLabelsarea = false;
    bool showDataLabelsline = false;
    bool smooth = true;
    bool smoothline = true;
    bool annotation = true;

    Interpolation interpolation = Interpolation.Line;

    //for trend series
    bool trend = true;
    bool median = false;
    bool mean = false;
    bool mode = false;


    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    class DataItem2
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("MMM");
        }

        return string.Empty;
    }

    DataItem[] revenue2019 = new DataItem[]
    {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 234000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 284000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 274000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 294000
        },
        };

        DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
            Quarter = "Q1",
            Revenue = 254000
        },
        new DataItem
        {
            Quarter = "Q2",
            Revenue = 324000
        },
        new DataItem
        {
            Quarter = "Q3",
            Revenue = 354000
        },
        new DataItem
        {
            Quarter = "Q4",
            Revenue = 394000
        },

    };
    DataItem2[] revenue2019area = new DataItem2[] {
        new DataItem2
        {
            Date = ("2019-01-01"),
            Revenue = 234000
        },
        new DataItem2
        {
            Date = ("2019-02-01"),
            Revenue = 269000
        },
        new DataItem2
        {
            Date = ("2019-03-01"),
            Revenue = 233000
        },
        new DataItem2
        {
            Date = ("2019-04-01"),
            Revenue = 244000
        },
        new DataItem2
        {
            Date = ("2019-05-01"),
            Revenue = 214000
        },
        new DataItem2
        {
            Date = ("2019-06-01"),
            Revenue = 253000
        },
    };

    DataItem2[] revenue2020area = new DataItem2[] {
        new DataItem2
        {
            Date = ("2019-01-01"),
            Revenue = 334000
        },
        new DataItem2
        {
            Date = ("2019-02-01"),
            Revenue = 369000
        },
        new DataItem2
        {
            Date = ("2019-03-01"),
            Revenue = 333000
        },
        new DataItem2
        {
            Date = ("2019-04-01"),
            Revenue = 344000
        },
        new DataItem2
        {
            Date = ("2019-05-01"),
            Revenue = 314000
        },
        new DataItem2
        {
            Date = ("2019-06-01"),
            Revenue = 353000
        },
    };
}
